<%= render 'navbar' %>

<body style="background: #e8ecf0;"> <!-- #7f98b1  #e8ecf0-->

<div class="page-header" style="height: auto; background: #7f98b1;">
    <div class="page-header-inner vc-outer">
        <div class="vc-inner text-centered">
            <br><br>
            <h2 style="color: white; font-size: 3.5rem;">Get in touch and let us know how we can help</h2>
            <br>
        </div>
      </div>
  </div>

<br>
<div class="container-medium"> <!-- small -->
  <%= form_for @message, url: contact_path do |f| %>
                  <%= f.error_messages %>
  
  <div class="box-regist user-account-section" style="border-top: #fd705c; border-top-width: 3px;
    border-top-style: solid">
    
    <!-- <div class="title-regist">
      <div class="titleline-regist"><h3>Account Details</h3></div>
    </div> -->
    
    <div class="innerbox-regist">
      <div class="row-fluid form-row row">
        <div class="col-xs-6">
          <label class="label-pre">Company</label>
          <div class="form-group">
            <%= f.text_field :company, :required => true, class: 'form-control' %>
          </div>
        </div>

        <div class="col-xs-6">
          <label class="label-pre">Phone</label>
          <div class="form-group">
             <%= f.text_field :mobile, :required => true, class: 'form-control' %>
          </div>
        </div>
      </div>

      <div class="row-fluid form-row row">
        <div class="col-xs-12">
          <label  class="label-pre">Email</label>
          <div class="form-group">
            <%= f.email_field :email, :required => true, class: 'form-control' %>
          </div>
        </div>
      </div>


      <div class="row-fluid form-row row">
        <div class="col-xs-12">
          <label  class="label-pre">Message</label>
          <div class="form-group">
            <%= f.text_area :content, :required => true,rows: "7", class: 'form-control' %>
          </div>
        </div>
      </div>

      <div align="center">
          <%= f.submit 'SEND', class: 'page-scroll btn btn-primary btn-lg outline submit-account', style: 'border-color: black; color: black; font-weight: 500;' %>
        </div>


      <% end %>

      </div>

    </div>
  </div>
</body>






<%= render 'creatives/contact' %>
<%= render 'creatives/footer' %>