<%= render 'accounts/navbar' %>

<header id="page-top" class='accounts_header'>
    <div class="header-content">
        <div class="container-fluid">
            <div class="col-lg-4 col-lg-offset-4 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 registration_form">
                <h3 style="text-align: center; color: white; font-family: 'ArialRoundedMTBold';">Get in touch and let us know how we can help</h3>
                <p></p>
                <%= form_for @message, url: contact_path do |f| %>
                  <%= f.error_messages %>

                  <div class="form-group">
                    <%= f.text_field :company, :required => true, placeholder: 'Company', class: 'form-control' %>
                  </div>
                  <div class="form-group">
                    <%= f.text_field :email, :required => true, placeholder: 'Email', class: 'form-control' %>
                  </div>
                  <div class="form-group">
                    <%= f.text_field :mobile, :required => true, placeholder: 'Mobile Phone Number', class: 'form-control' %>
                  </div>
                  <div class="form-group">
                    <%= f.text_area :content, :required => true, placeholder: 'Message', class: 'form-control' %>
                  </div>
                  <br>
                  <div class="form-group">
                    <%= f.submit 'SEND', class: 'page-scroll btn btn-primary btn-lg outline submit-account' %>
                  </div>
                  <br>
                <% end %>
            </div>
        </div>
    </div>
</header>

<%= render 'creatives/contact' %>
<%= render 'creatives/footer' %>