<%= render 'navbar' %>


<body class="login-background"><!-- style="background-color: #e8ecf0;"> -->
  <br><br><br><br>
  <div style="text-align:center; color:white;"> 
    <h2>Forgot Your Password?</h2>
  </div>
  
  <div class="">
  <div class="login-form" style="margin-top: 200px">

      <div class="mbot30" style="text-align: center;font-weight: 300;">
      <p>Enter your email address below and we'll send you an email with further instructions.</p>
    </div>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
         <%= devise_error_messages! %>

      
      

      <div class="form-group"> <!-- <div class="field"> -->
        <%= f.email_field :email, placeholder: 'Email', autofocus: true,  class: 'form-control' %>
        <i class="fa fa-user" style="display:inline-block;"></i>
      </div>
       
      <div class="actions", style="color: black;">
          <%= f.submit "Reset Password", class: 'log-btn btn-primary  ' %>
          </div>

      


      <% end %>
    </div>
  </div>

</body>







	



