<%= render 'navbar' %>


<body style="background-color: #f6f6f6;">
	<div class="page-header" style="background: #7f98b1;">

		<div class="page-header-nav">
            <div class="container">
                <a href="/history" class="order-mobile order-mobile-small muted-link invoice-left"><i></i> < Back To Order History</a>

                <a><%= link_to 'Download Invoice >', order_id_path(@order, format: :pdf),  class: "order-mobile order-mobile-small muted-link invoice-right" %></a>

            </div>
        </div>
      

	</div>

	<div class="container-small">


		<div class="box order-invoice" style="border-top: #fd705c;">
            <div class="invoice-target" style="width=200px;">
                        <!-- instela.co -->
                        <img src="/assets/instela-white-small.png" style="width: 250px;">
                      
            </div>
            <div class="invoice-meta invoice-date-service row row-right">
            	<div class="invoice-left col-lg-6 col-sm-6 col-xs-6">
                    <% job_service = @order.service_type %>
                    <% if @order.service_type == 'Handyman' %>
                        <% job_service = "Handyman Services" %>
                    <% end %>
                    <%= job_service  %>
                </div>
                <div class="invoice-right col-lg-6 col-sm-6 col-xs-6">
                    <%= @order.created_at.strftime('%d %B %Y') %>
                </div>
            </div>

            <div class="invoice-meta">
            	<div class="invoice-center invoice-amount">
            		<%= number_to_currency(@order.amount, :unit=>'£') %>
                </div>
            	<div class="invoice-center invoice-id">
                    Order #<%= @order.id %>
                </div>
            </div>

            <div class="invoice-meta invoice-date-service">
            	<div class="invoice-center">
                    Thanks for using instela
                </div>
            </div>

            <div class="invoice-address">
            	<div class="row">
	            	<div class="col-lg-6 col-sm-6 col-xs-6">
	                    <br><span class="invoice-client"><%= @order.account.company %></span>
						<br><%= @order.account.address_l1 %>
						<br><%= @order.account.address_l2 %>
						<br><%= @order.account.postcode %>
	                </div>
	            </div>
            </div>

            <div class="invoice-service-price">
            	<div class="row">
	            	<div class="invoice-left col-lg-6 col-sm-6 col-xs-6">
            			<%= @order.service_type %>
            		</div>
            		<div class="invoice-right col-lg-6 col-sm-6 col-xs-6">
            			<%= number_to_currency(@order.hourly_fee, :unit=>'£') %>/hour
            		</div>
            	</div>
            </div>

            <% if @order.minimum_charge.nil? || @order.minimum_charge == 0 %>
                <div class="invoice-price">
                	<div class="row">
    	            	<div class="col-lg-4 col-sm-4 col-xs-4">
                		</div>
                		<div class="invoice-right col-lg-4 col-sm-4 col-xs-4">
                			<% pre_tot = @order.duration*@order.hourly_fee %>
                            <% charge_onecontractor = pre_tot %>
                			<%= number_to_currency(pre_tot, :unit=>'£') %>
                		</div>
                        <div class="invoice-right col-lg-4 col-sm-4 col-xs-4">
                            x <%= @order.duration %> hours
                        </div>
                	</div>
                </div>
            <% elsif @order.minimum_charge > 0 %>
                <div class="invoice-price">
                    <div class="row">
                        <div class="col-lg-8 col-sm-8 col-xs-8">
                            First hour minimum charge
                        </div>
                        <div class="invoice-right col-lg-4 col-sm-4 col-xs-4">
                            <%= number_to_currency(@order.minimum_charge, :unit=>'£') %>
                            <% charge_onecontractor = @order.minimum_charge %>
                        </div>
                        
                    </div>
                </div>

                <div class="invoice-price">
                    <div class="row">
                        <div class="col-lg-4 col-sm-4 col-xs-4">
                            Additional time
                        </div>
                        
                        <div class="invoice-right col-lg-4 col-sm-4 col-xs-4">
                            <% pre_tot = (@order.duration-1)*@order.hourly_fee %>
                            <% charge_onecontractor = pre_tot + charge_onecontractor %>
                            <%= number_to_currency(pre_tot, :unit=>'£') %>
                        </div>
                        <div class="invoice-right col-lg-4 col-sm-4 col-xs-4">
                            + <%= (@order.duration-1) %> hours
                        </div>
                    </div>
                </div>

            <% end %>
                


            <% unless @order.number_contractors.nil? || @order.number_contractors == 1 %>
                <div class="invoice-price">
                    <div class="row">
                        <div class="col-lg-4 col-sm-4 col-xs-4">
                            Team size
                        </div>
                        <div class="invoice-right col-lg-4 col-sm-4 col-xs-4">
                            + <%= number_to_currency(charge_onecontractor, :unit=>'£') %>
                        </div>
                        <div class="invoice-right col-lg-4 col-sm-4 col-xs-4">
                            x<%=@order.number_contractors %>
                        </div>
                    </div>
                </div>
            <% end %>


            <% unless @order.discount.nil? || @order.discount == 0 %>

                <% charge_hour_pay = (@order.duration * @order.hourly_fee) %>

                 <% unless @order.minimum_charge.nil? || @order.minimum_charge == 0 %>
                    <% tmp_duration = @order.duration - 1 %>
                    <% charge_hour_pay = tmp_duration*@order.hourly_fee + @order.minimum_charge %>
                <% end  %>
                <% unless @order.number_contractors.nil? || @order.number_contractors < 2 %>
                    <% charge_hour_pay = charge_hour_pay * @order.number_contractors %>
                <% end %>
                <% discount_amount = charge_hour_pay*(@order.discount/100)   %>

                <div class="invoice-price">
                	<div class="row">
                		<div class="col-lg-4 col-sm-4 col-xs-4">
                            Discount
                		</div>
                        <div class="invoice-right col-lg-4 col-sm-4 col-xs-4">
                            <% disc = (@order.discount/100)*@order.duration*@order.hourly_fee %>
                            - <%= number_to_currency(discount_amount, :unit=>'£') %>
                        </div>
    	            	<div class="invoice-right col-lg-4 col-sm-4 col-xs-4">
                			<%= @order.discount %>%
                		</div>
                	</div>
                </div>
            <% end %>

            <% unless @order.materials_total_cost.nil? || @order.materials_total_cost == 0 %>
                <div class="invoice-price">
                	<div class="row">
                		<div class="col-lg-4 col-sm-4 col-xs-4">
                            Materials
                		</div>
                		<div class="invoice-right col-lg-4 col-sm-4 col-xs-4">
                			<%= number_to_currency(@order.materials_total_cost, :unit=>'£') %>
                		</div>
                        <div class="invoice-right col-lg-4 col-sm-4 col-xs-4">
                        </div>
                	</div>
                </div>
            <% end %>

            <% unless @order.quote_fee.nil? || @order.quote_fee == 0 %>
            <div class="invoice-price">
                <div class="row">
                    <div class="col-lg-4 col-sm-4 col-xs-4">
                        Quote
                    </div>
                    <div class="invoice-right col-lg-4 col-sm-4 col-xs-4">
                        <%= number_to_currency(@order.quote_fee, :unit=>'£') %>
                    </div>
                    <div class="invoice-right col-lg-4 col-sm-4 col-xs-4">
                    </div>
                </div>
            </div>
            <% end %>


            <div class="invoice-total">
            	<div class="row">
	            	<div class="col-lg-4 col-sm-4 col-xs-4">	
            		</div>
	            	<div class="invoice-right col-lg-4 col-sm-4 col-xs-4">
            			Total
            		</div>
            		<div class="invoice-right col-lg-4 col-sm-4 col-xs-4">
            			<%= number_to_currency(@order.amount, :unit=>'£') %>
            		</div>
            	</div>
            </div>
        </div>
    </div>
</body>

<%= render 'creatives/footer' %>




