
<%= render 'navbar' %>


<header id="page-top" class='accounts_header'>
    <div class="header-content">
        <div class="container-fluid">
            <div class="col-lg-4 col-lg-offset-4 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 registration_form">
                <h3 style="text-align: center; color: white; font-family: 'ArialRoundedMTBold';">Sign In</h3>
                <p></p>
                <%= form_for(resource, as: resource_name, url: account_session_path) do |f| %>
                  <%= devise_error_messages! %>

                  <div class="form-group">
                    <%= f.email_field :email, :required => true, placeholder: 'Email', class: 'form-control' %>
                  </div>
                  <div class="form-group">
                    <%= f.password_field :password, :required => '', placeholder: 'Password', class: 'form-control'  %>
                  </div>              
                  <br>
                  <% if devise_mapping.rememberable? -%>
                    <div class="field">
                      <%= f.check_box :remember_me %>
                      <%= f.label :remember_me %>
                    </div>
                  <% end -%>
                  <br>
                  <div class="form-group">
                    <%= f.submit 'LOG IN', class: 'page-scroll btn btn-primary btn-lg outline submit-account' %>
                  </div>
                  <br>
                  <%= render "devise/shared/links" %>
                <% end %>
                <% flash.each do |key, value| %>
                  <div class="alert alert-<%= key %>"><%= value %></div>
                <% end %>
            </div>
        </div>
    </div>
</header>

<%= render 'creatives/contact' %>
<%= render 'creatives/footer' %>