<header id="page-top" class="layer">
    <!-- <div class="header-content"> -->
        <div class"container-fluid">
            <div class="header-content-inner">
                <section id="video-block" class="fullscreen">
                    <!-- Adjust video height and width -->
                    <script>
                        var w = $(window).width(), h = $(window).height()
                        $('#video-block video').css({height: ''+h+'',width: ''+w+''})
                        $(window).resize(function(){
                        var w = $(window).width(), h = $(window).height()
                        $('#video-block video').css({height: ''+h+'',width: ''+w+''})
                        })
                    </script>
                    <script type="text/javascript" charset="utf-8">
                      var openNSLauncher = function() {
                      var launcher = document.querySelector('.nudgespot-launcher');
                      launcher.click();
                      };
                    </script>
                    <!-- Embed Video as Background-->
                    <div class="container-fluid">
                        <div style="width:initial">
                            <%= video_tag("https://s3-eu-west-1.amazonaws.com/instelaltd/videos/office_video.mp4", :controls => true, :autobuffer => false, :autoplay => true, :loop => true, :id => "video-background") %>
                        </div>
                    </div>
                    <div class="container-fluid key_text">
                        <h2>Solve Any Office Problem. Now.</h2>
                        <br>
                        <h4>Focus on your business and end all your office headaches. <br><br>Verified professional tech support, handymen, cleaners, available on-demand all across London.<br><br>Send us a message to get started.</h4>
                        <!-- <h4>Send us a message to get started</h4> -->
                        <!-- <h1 style="color: #f05f40;"><a style="text-decoration: none;" href="sms:+447454574821">07 45 45 74 821</a></h1> -->
                        <!-- <hr> -->
                        <hr>
                        <%= link_to 'GET INSTANT HELP', '#', class: "btn btn-primary btn-xl page-scroll ", onclick:"event.preventDefault();openNSLauncher();"  %>
<!--                         <%= link_to 'OPEN AN ACCOUNT - FREE SIGN UP', new_account_registration_path, class: "btn btn-primary btn-xl page-scroll register_button" %>
 -->                    </div>
                </section>
                <% flash.each do |key, value| %>
                    <div class="alert alert-<%= key %>"><%= value %></div>
                <% end %>
            </div>
        </div>
    <!-- </div> -->
</header>






