<%= render 'creatives/navbar' %>

<header id="page-top" class='accounts_header'>
    <div class="header-content">
        <div class="container-fluid">
            <div class="col-lg-4 col-lg-offset-4 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 registration_form">
                <h3 style="text-align: center; color: white; font-family: 'ArialRoundedMTBold';">Charge a Company<br>--- Restricted Area ---<br></h3>
                <p></p>
                <%= form_for @charge, url: charges_path do |f| %>
                  <%= f.error_messages %>
                  <div class="form-group">
                    <%= select_tag(:company_email, options_for_select(@accounts), placeholder: 'Company Email', class: 'form-control') %>
                  </div>
                  <div class="form-group">
                    <%= select_tag(:service_type, options_for_select(@services), placeholder: 'Service Type', class: 'form-control') %>
                  </div>
                  <div class="form-group">
                    <%= number_field_tag :duration, nil, :required => true, :step => 'any', placeholder: 'Duration', class: 'form-control' %>
                  </div>
                  <div class="form-group">
                    Materials cost:
                    <%= number_field_tag :materials_total_cost, 0, :required => true, :step => 'any', placeholder: 'Materials Cost', class: 'form-control' %>
                  </div>
                  <div class="form-group">
                    Discount (as a percentage -eg 5 for 5%):
                    <%= number_field_tag :discount, 0, :required => true, :step => 'any', placeholder: 'Discount', class: 'form-control' %>
                  </div>
                  <br>
                  <div class="form-group">
                    <%= f.submit 'CHARGE!', class: 'page-scroll btn btn-primary btn-lg outline submit-account' %>
                  </div>
                  <br>
                <% end %>
            </div>
        </div>
    </div>
</header>

<%= render 'creatives/contact' %>
<%= render 'creatives/footer' %>