<!DOCTYPE html>
<html>
<head>
  <title>Instela</title>
  <%= favicon_link_tag 'instela-orange.ico' %>
  <link href="logo-image.png" rel="apple-touch-icon">
  <%= display_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%= stylesheet_link_tag 'creative/manifest.css', media: 'all' %>
  <%= javascript_include_tag 'creative/manifest.js' %>
  <%= csrf_meta_tags %>
</head>

<body>

<%= yield %>

</body>
</html>

<%- if false %>

	<!DOCTYPE html>
	<html>
	<head>
		<%= favicon_link_tag 'instela-orange.ico' %>
		<%= display_meta_tags %>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>
	<body>

	<%= yield %>

	</body>
	</html>

<% end %>
